$font_primary: 'Lato', sans-serif;
$font_cursive: 'Italianno', sans-serif;

$color_primary: #8ed3cc;
$color_secondary: #e082a8;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #979797;
$color_gray_light: #f8f8f8;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;
